#aboutMe {
  color: red;
  font-size: 200%;
}
body{
  background-color: black;
  /* float: left; */
}
body{
  /* background-image: url(../img/black2.jpeg);
  background-repeat: repeat; */
  color: white;
}
#hold {
  color: blue;
}
